@import '../../../styles/colors';

.header {
  background-image: url('../../../assets/images/header.png');
  height: 237px;
  padding: 32px 240px;

  &-title {
    color: map-get($colors, white);
    padding-top: 66px;
    font-size: 50px;
    font-weight: bold;
  }

  &-bar {
    display: flex;
    justify-content: space-between;

    &-navigation, &-profile {
      display: flex;
      align-self: center;
    }

    &-navigation {
      > .navigation-link {
        border-radius: 5px;
        padding: 5px 14px;
        line-height: 24px;
        font-size: 17px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;

        &_active {
          background-color: $navigationActiveLink;
          mix-blend-mode: hard-light;
        }
      }
    }

    &-profile {
      > .icon {
        margin-left: 8px;
      }

      > .link {
        font-weight: bold;
      }
    }

    &-search {
      width: 238px;
    }

    &-stack {
      display: flex;
    }
  }
}