@import '../../../styles/colors';

.header {
  $self: &;
  background-image: url('../../../assets/images/header.png');
  height: 237px;
  padding: 32px 240px;
  width: 960px;

  &_stick {
    position: fixed;
    height: 45px;
    background: map_get($colors, white);
  }

  &__title {
    color: map-get($colors, white);
    padding-top: 64px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -1.79px;
  }

  &__bar {
    display: flex;
    justify-content: space-between;

    &__navigation, &__profile {
      display: flex;
      align-self: center;
    }

    &__navigation {
      &__link {
        border-radius: 5px;
        padding: 5px 14px;
        line-height: 24px;
        font-size: 17px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.2px;

        &_active {
          background-color: $navigationActiveLink;
          mix-blend-mode: hard-light;

          #{ $self }_stick & {
            background-color: rgba($navigationActiveLink, 0.2);;
            mix-blend-mode: normal;

            > .link {
              color: $navigationActiveLink;
            }
          }
        }
      }
    }

    &__profile {
      > .icon {
        margin-left: 5px;
      }

      > .link {
        font-weight: bold;
        align-self: center;
      }
    }

    &__search {
      width: 238px;
    }

    &__stack {
      display: flex;
    }
  }
}