@import '../../../styles/colors';

$padding: 163px;
$border-radius: 5px;

.add-dish-modal {
  &__header {
    width: 634px;
    padding: 90px $padding 19px;
    background: map_get($colors, smokewhite);
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    position: relative;

    &_hasBackground {
      background: none;

      .fileinput__icon {
        background: map_get($colors, white);
      }
    }

    &__title {
      font-size: 30px;
      font-weight: bold;
      letter-spacing: -1.07px;
      line-height: 50px;
    }

    &__subtitle {
      font-size: 20px;
      letter-spacing: -0.71px;
      margin-bottom: 106px;
    }

    &__upload {
      width: 960px;
      height: 314px;
      position: absolute;
    }
  }

  &__link {
    > span {
      opacity: 0.6;
    }

    &_hasBackground {
      > span {
        opacity: 1;
      }
    }
  }

  &__form {
    padding: 32px $padding 126px;
    background: map_get($colors, white);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    &__row {
      margin-top: 10px;
    }

    &__ingredients {
      margin-top: 10px;

      &-header {
        display: flex;
        font-size: 20px;
        letter-spacing: -0.71px;
        justify-content: space-between;

        &-title {
          align-self: center;
        }
      }

      &-list {
        margin-top: 8px;

        &__item {
          display: flex;
          margin-bottom: 10px;

          &__trash {
            align-self: center;
            margin-left: 10px;
          }

          &__menu {
            align-self: center;
            margin-right: 10px;
          }

          &__ingredient-name {
            flex-grow: 1;
          }

          &__ingredient-weight {
            width: 143px;

            &_valid {
              width: 109px;
            }
          }
        }

        &__summary {
          display: flex;
          justify-content: space-between;
          background: map_get($colors, white);
          margin-top: 35px;
          font-size: 17px;
          letter-spacing: -0.43px;
        }
      }
    }

    &_isValid {
      padding-bottom: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__footer {
    display: flex;
    padding: 8px 59px 8px 350px;
    justify-content: space-between;
    background: map_get($colors, orange);
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;

    &__add-new-dish {
      letter-spacing: -0.43px;

      &-icon {
        align-self: center;
      }
    }
  }
}