@font-face {
  font-family: 'SerifPro';
  src: url('../assets/fonts/SourceSerifPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SerifPro';
  src: url('../assets/fonts/SourceSerifPro-Bold.ttf') format('truetype');
  font-weight: bold;
}

html {
  margin-left: calc(100vw - 100%);
}

body {
  margin: 0;
  font-family: 'SerifPro', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f8f8;
}
